@import 'tailwindcss';

:root {
  /* Collection: Font Families */
  --font-families-alliance: Alliance No.1;
  --font-families-canela: Canela Text LC Web;
  --font-families-frontliner: Frontliner;

  /* Collection: Text Sizes */
  --text-sizes-10px: 0.625rem;
  --text-sizes-11px: 0.6875rem;
  --text-sizes-12px: 0.75rem;
  --text-sizes-13px: 0.8125rem;
  --text-sizes-14px: 0.875rem;
  --text-sizes-16px: 1rem;
  --text-sizes-18px: 1.125rem;
  --text-sizes-20px: 1.25rem;
  --text-sizes-24px: 1.5rem;
  --text-sizes-30px: 1.875rem;
  --text-sizes-36px: 2.25rem;
  --text-sizes-38px: 2.375rem;
  --text-sizes-48px: 3rem;
  --text-sizes-54px: 3.375rem;
  --text-sizes-60px: 3.75rem;
  --text-sizes-72px: 4.5rem;

  /* Collection: Line Heights */
  --line-heights-12px: 0.75rem;
  --line-heights-14px: 0.875rem;
  --line-heights-16px: 1rem;
  --line-heights-18px: 1.125rem;
  --line-heights-21px: 1.3125rem;
  --line-heights-24px: 1.5rem;
  --line-heights-26px: 1.625rem;
  --line-heights-28px: 1.75rem;
  --line-heights-34px: 2.125rem;
  --line-heights-42px: 2.625rem;
  --line-heights-44px: 2.75rem;
  --line-heights-48px: 3rem;
  --line-heights-58px: 3.625rem;
  --line-heights-64px: 4rem;
  --line-heights-68px: 4.25rem;
  --line-heights-70px: 4.375rem;
  --line-heights-80px: 5rem;

  /* Collection: Letter Spacing */
  --letter-spacing-l: -0.01875000074505806rem;
  --letter-spacing-m: 0.02500000037252903rem;
  --letter-spacing-s: -0.05000000074505806rem;
  --letter-spacing-smallcaps: 0.02500000037252903rem;
  --letter-spacing-xl: 0rem;
  --letter-spacing-xs: -0.07500000298023224rem;
  --letter-spacing-xxl: 0.0062500000931322575rem;
  --letter-spacing-xxs: -0.09375rem;

  /* Collection: Spacing Scale */
  --spacing-scale-0px: 0rem;
  --spacing-scale-1px: 0.0625rem;
  --spacing-scale-2px: 0.125rem;
  --spacing-scale-4px: 0.25rem;
  --spacing-scale-6px: 0.375rem;
  --spacing-scale-8px: 0.5rem;
  --spacing-scale-10px: 0.625rem;
  --spacing-scale-12px: 0.75rem;
  --spacing-scale-14px: 0.875rem;
  --spacing-scale-16px: 1rem;
  --spacing-scale-20px: 1.25rem;
  --spacing-scale-22px: 1.375rem;
  --spacing-scale-24px: 1.5rem;
  --spacing-scale-28px: 1.75rem;
  --spacing-scale-32px: 2rem;
  --spacing-scale-36px: 2.25rem;
  --spacing-scale-40px: 2.5rem;
  --spacing-scale-44px: 2.75rem;
  --spacing-scale-48px: 3rem;
  --spacing-scale-56px: 3.5rem;
  --spacing-scale-64px: 4rem;
  --spacing-scale-80px: 5rem;
  --spacing-scale-96px: 6rem;
  --spacing-scale-112px: 7rem;
  --spacing-scale-128px: 8rem;
  --spacing-scale-144px: 9rem;
  --spacing-scale-160px: 10rem;
  --spacing-scale-176px: 11rem;
  --spacing-scale-192px: 12rem;
  --spacing-scale-208px: 13rem;
  --spacing-scale-224px: 14rem;
  --spacing-scale-240px: 15rem;
  --spacing-scale-256px: 16rem;
  --spacing-scale-288px: 18rem;
  --spacing-scale-320px: 20rem;
  --spacing-scale-384px: 24rem;

  /* Collection: Breakpoints */
  --breakpoint-full: 96rem;
  --breakpoint-internal: 76.5rem;

  /* Collection: Font Weights */
  --weight: Regular;

  /* Collection: Radius */
  --radius-none: 0rem;
  --radius-sm: 0.1875rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5625rem;
}

@theme {
  /* Collection: Color Palette */
  --alert-red-dark: oklch(0.746 0.122 20.4); /* #bf2e24 */
  --alert-red-light: oklch(0.621 0.151 22.5); /* #e15853 */
  --app-dark-utility-1: oklch(0.308 0.038 253.5); /* #2c3454 */
  --app-dark-utility-2: oklch(0.386 0.032 253.8); /* #394367 */
  --app-dark-utility-3: oklch(0.544 0.021 250.7); /* #707ca7 */
  --app-dark-utility-4: oklch(0.67 0.011 248); /* #aab4d2 */
  --app-dark-utility-5: oklch(0.913 0.004 91.4); /* #e6ede0 */
  --aurora-moss: oklch(0.94 0.11 116.6); /* #e6f59e */
  --black: oklch(0 0 0); /* #000000 */
  --blush-quartz: oklch(0.881 0.031 17.8); /* #f6e0dc */
  --canyon-clay: oklch(0.709 0.051 18.4); /* #bf9595 */
  --canyon-clay-links: oklch(0.61 0.044 18.4); /* #a46969 */
  --glacier-mist-700: oklch(0.973 0.001 106.4); /* #fcfdf7 */
  --glacier-mist-800: rgba(236, 235, 231, 0.6); /* #ecebe799 */
  --glacier-mist-900: oklch(0.928 0.004 91.4); /* #eeefe6 */
  --midnight-fjord: oklch(0.228 0.045 253.7); /* #0c1d31 */
  --pine-forge: oklch(0.478 0.034 158.9); /* #446e3d */
  --potted-olive: oklch(0.776 0.02 152.7); /* #c2ddb6 */
  --white: oklch(1 0 0); /* #ffffff */

  /* Collection: Typography */
  --app-body-font-family: var(--font-families-alliance);
  --app-body-font-size: var(--text-sizes-13px);
  --app-body-letter-spacing: var(--letter-spacing-xl);
  --app-body-line-height: var(--line-heights-18px);
  --app-body-list-spacing: var(--spacing-scale-12px);
  --app-body-paragraph-spacing: var(--spacing-scale-10px);

  --docs-article-body-font-family: var(--font-families-alliance);
  --docs-article-body-font-size: var(--text-sizes-16px);
  --docs-article-body-letter-spacing: var(--letter-spacing-xl);
  --docs-article-body-line-height: var(--line-heights-24px);
  --docs-article-body-list-spacing: var(--spacing-scale-12px);
  --docs-article-body-paragraph-spacing: var(--spacing-scale-10px);

  --docs-sidebar-headings-font-family: var(--font-families-alliance);
  --docs-sidebar-headings-font-size: 0.6875rem;
  --docs-sidebar-headings-letter-spacing: 0.03125rem;
  --docs-sidebar-headings-line-height: 1rem;

  --docs-sidebar-links-font-family: var(--font-families-alliance);
  --docs-sidebar-links-font-size: var(--text-sizes-13px);
  --docs-sidebar-links-letter-spacing: var(--letter-spacing-xl);
  --docs-sidebar-links-line-height: var(--line-heights-18px);

  --text-10xl-canela-font-family: var(--font-families-canela);
  --text-10xl-canela-font-size: var(--text-sizes-60px);
  --text-10xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-10xl-canela-line-height: var(--line-heights-70px);

  --text-11xl-canela-font-family: var(--font-families-canela);
  --text-11xl-canela-font-size: var(--text-sizes-72px);
  --text-11xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-11xl-canela-line-height: var(--line-heights-80px);

  --text-2xl-font-family: var(--font-families-alliance);
  --text-2xl-font-size: var(--text-sizes-24px);
  --text-2xl-letter-spacing: var(--letter-spacing-xl);
  --text-2xl-line-height: 1.875rem;

  --text-3xl-font-family: var(--font-families-alliance);
  --text-3xl-font-size: var(--text-sizes-30px);
  --text-3xl-letter-spacing: var(--letter-spacing-xl);
  --text-3xl-line-height: var(--line-heights-42px);

  --text-4xl-font-family: var(--font-families-alliance);
  --text-4xl-font-size: var(--text-sizes-36px);
  --text-4xl-letter-spacing: var(--letter-spacing-l);
  --text-4xl-line-height: var(--line-heights-44px);

  --text-5xl-font-family: var(--font-families-alliance);
  --text-5xl-font-size: var(--text-sizes-48px);
  --text-5xl-letter-spacing: var(--letter-spacing-m);
  --text-5xl-line-height: var(--line-heights-58px);

  --text-6xl-font-family: var(--font-families-alliance);
  --text-6xl-font-size: var(--text-sizes-60px);
  --text-6xl-letter-spacing: var(--letter-spacing-m);
  --text-6xl-line-height: var(--line-heights-68px);

  --text-7xl-canela-font-family: var(--font-families-canela);
  --text-7xl-canela-font-size: var(--text-sizes-38px);
  --text-7xl-canela-letter-spacing: var(--letter-spacing-xs);
  --text-7xl-canela-line-height: var(--line-heights-44px);

  --text-8xl-canela-font-family: var(--font-families-canela);
  --text-8xl-canela-font-size: var(--text-sizes-48px);
  --text-8xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-8xl-canela-line-height: var(--line-heights-58px);

  --text-9xl-canela-font-family: var(--font-families-canela);
  --text-9xl-canela-font-size: var(--text-sizes-54px);
  --text-9xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-9xl-canela-line-height: var(--line-heights-64px);

  --text-article-body-font-family: var(--font-families-alliance);
  --text-article-body-font-size: var(--text-sizes-18px);
  --text-article-body-letter-spacing: var(--letter-spacing-xl);
  --text-article-body-line-height: var(--line-heights-28px);
  --text-article-body-list-spacing: var(--spacing-scale-10px);
  --text-article-body-paragraph-spacing: var(--spacing-scale-10px);

  --text-base-font-family: var(--font-families-alliance);
  --text-base-font-size: var(--text-sizes-16px);
  --text-base-letter-spacing: var(--letter-spacing-xl);
  --text-base-line-height: var(--line-heights-24px);
  --text-base-list-spacing: var(--spacing-scale-12px);
  --text-base-paragraph-spacing: var(--spacing-scale-10px);

  --text-lg-font-family: var(--font-families-alliance);
  --text-lg-font-size: var(--text-sizes-18px);
  --text-lg-letter-spacing: var(--letter-spacing-xl);
  --text-lg-line-height: var(--line-heights-26px);
  --text-lg-list-spacing: var(--spacing-scale-12px);
  --text-lg-paragraph-spacing: var(--spacing-scale-10px);

  --text-sm-font-family: var(--font-families-alliance);
  --text-sm-font-size: var(--text-sizes-14px);
  --text-sm-letter-spacing: var(--letter-spacing-xl);
  --text-sm-line-height: var(--line-heights-21px);

  --text-smallcaps-font-family: var(--font-families-alliance);
  --text-smallcaps-font-size: var(--text-sizes-12px);
  --text-smallcaps-letter-spacing: var(--letter-spacing-smallcaps);
  --text-smallcaps-line-height: var(--line-heights-18px);

  --text-xl-font-family: var(--font-families-alliance);
  --text-xl-font-size: var(--text-sizes-20px);
  --text-xl-letter-spacing: var(--letter-spacing-xl);
  --text-xl-line-height: var(--line-heights-28px);

  --text-xs-font-family: var(--font-families-alliance);
  --text-xs-font-size: var(--text-sizes-12px);
  --text-xs-letter-spacing: var(--letter-spacing-xl);
  --text-xs-line-height: var(--line-heights-16px);
}

/* Mode Override */
.lg---1024px {
  /* Collection: Breakpoints */
  --breakpoint-full: 64rem;
  --breakpoint-internal: 61rem;

  /* Collection: Typography */
  --app-body-font-family: var(--font-families-alliance);
  --app-body-font-size: var(--text-sizes-13px);
  --app-body-letter-spacing: var(--letter-spacing-xl);
  --app-body-line-height: var(--line-heights-18px);
  --app-body-list-spacing: var(--spacing-scale-10px);
  --app-body-paragraph-spacing: var(--spacing-scale-8px);

  --docs-article-body-font-family: var(--font-families-alliance);
  --docs-article-body-font-size: var(--text-sizes-14px);
  --docs-article-body-letter-spacing: var(--letter-spacing-xl);
  --docs-article-body-line-height: var(--line-heights-21px);
  --docs-article-body-list-spacing: var(--spacing-scale-10px);
  --docs-article-body-paragraph-spacing: var(--spacing-scale-8px);

  --docs-sidebar-headings-font-family: var(--font-families-alliance);
  --docs-sidebar-headings-font-size: 0.625rem;
  --docs-sidebar-headings-letter-spacing: 0.03125rem;
  --docs-sidebar-headings-line-height: 1rem;

  --docs-sidebar-links-font-family: var(--font-families-alliance);
  --docs-sidebar-links-font-size: var(--text-sizes-12px);
  --docs-sidebar-links-letter-spacing: var(--letter-spacing-xl);
  --docs-sidebar-links-line-height: var(--line-heights-16px);

  --text-10xl-canela-font-family: var(--font-families-canela);
  --text-10xl-canela-font-size: var(--text-sizes-54px);
  --text-10xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-10xl-canela-line-height: var(--line-heights-64px);

  --text-11xl-canela-font-family: var(--font-families-canela);
  --text-11xl-canela-font-size: var(--text-sizes-72px);
  --text-11xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-11xl-canela-line-height: var(--line-heights-80px);

  --text-2xl-font-family: var(--font-families-alliance);
  --text-2xl-font-size: var(--text-sizes-20px);
  --text-2xl-letter-spacing: var(--letter-spacing-xl);
  --text-2xl-line-height: var(--line-heights-28px);

  --text-3xl-font-family: var(--font-families-alliance);
  --text-3xl-font-size: var(--text-sizes-24px);
  --text-3xl-letter-spacing: var(--letter-spacing-xl);
  --text-3xl-line-height: var(--line-heights-34px);

  --text-4xl-font-family: var(--font-families-alliance);
  --text-4xl-font-size: var(--text-sizes-36px);
  --text-4xl-letter-spacing: var(--letter-spacing-l);
  --text-4xl-line-height: var(--line-heights-44px);

  --text-5xl-font-family: var(--font-families-alliance);
  --text-5xl-font-size: var(--text-sizes-48px);
  --text-5xl-letter-spacing: var(--letter-spacing-m);
  --text-5xl-line-height: var(--line-heights-58px);

  --text-6xl-font-family: var(--font-families-alliance);
  --text-6xl-font-size: var(--text-sizes-60px);
  --text-6xl-letter-spacing: var(--letter-spacing-m);
  --text-6xl-line-height: var(--line-heights-68px);

  --text-7xl-canela-font-family: var(--font-families-canela);
  --text-7xl-canela-font-size: var(--text-sizes-30px);
  --text-7xl-canela-letter-spacing: var(--letter-spacing-s);
  --text-7xl-canela-line-height: var(--line-heights-42px);

  --text-8xl-canela-font-family: var(--font-families-canela);
  --text-8xl-canela-font-size: var(--text-sizes-38px);
  --text-8xl-canela-letter-spacing: var(--letter-spacing-xs);
  --text-8xl-canela-line-height: var(--line-heights-48px);

  --text-9xl-canela-font-family: var(--font-families-canela);
  --text-9xl-canela-font-size: var(--text-sizes-48px);
  --text-9xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-9xl-canela-line-height: var(--line-heights-58px);

  --text-article-body-font-family: var(--font-families-alliance);
  --text-article-body-font-size: var(--text-sizes-16px);
  --text-article-body-letter-spacing: var(--letter-spacing-xl);
  --text-article-body-line-height: var(--line-heights-24px);
  --text-article-body-list-spacing: var(--spacing-scale-10px);
  --text-article-body-paragraph-spacing: var(--spacing-scale-8px);

  --text-base-font-family: var(--font-families-alliance);
  --text-base-font-size: var(--text-sizes-14px);
  --text-base-letter-spacing: var(--letter-spacing-xl);
  --text-base-line-height: var(--line-heights-21px);
  --text-base-list-spacing: var(--spacing-scale-10px);
  --text-base-paragraph-spacing: var(--spacing-scale-8px);

  --text-lg-font-family: var(--font-families-alliance);
  --text-lg-font-size: var(--text-sizes-16px);
  --text-lg-letter-spacing: var(--letter-spacing-xl);
  --text-lg-line-height: var(--line-heights-24px);
  --text-lg-list-spacing: var(--spacing-scale-10px);
  --text-lg-paragraph-spacing: var(--spacing-scale-8px);

  --text-sm-font-family: var(--font-families-alliance);
  --text-sm-font-size: var(--text-sizes-12px);
  --text-sm-letter-spacing: var(--letter-spacing-xl);
  --text-sm-line-height: var(--line-heights-18px);

  --text-smallcaps-font-family: var(--font-families-alliance);
  --text-smallcaps-font-size: var(--text-sizes-12px);
  --text-smallcaps-letter-spacing: var(--letter-spacing-smallcaps);
  --text-smallcaps-line-height: var(--line-heights-18px);

  --text-xl-font-family: var(--font-families-alliance);
  --text-xl-font-size: var(--text-sizes-18px);
  --text-xl-letter-spacing: var(--letter-spacing-xl);
  --text-xl-line-height: var(--line-heights-26px);

  --text-xs-font-family: var(--font-families-alliance);
  --text-xs-font-size: var(--text-sizes-10px);
  --text-xs-letter-spacing: var(--letter-spacing-xl);
  --text-xs-line-height: var(--line-heights-14px);
}

/* Mode Override */
.md---768px {
  /* Collection: Breakpoints */
  --breakpoint-full: 48rem;
  --breakpoint-internal: 45.25rem;

  /* Collection: Typography */
  --app-body-font-family: var(--font-families-alliance);
  --app-body-font-size: var(--text-sizes-13px);
  --app-body-letter-spacing: var(--letter-spacing-xl);
  --app-body-line-height: var(--line-heights-18px);
  --app-body-list-spacing: var(--spacing-scale-8px);
  --app-body-paragraph-spacing: var(--spacing-scale-6px);

  --docs-article-body-font-family: var(--font-families-alliance);
  --docs-article-body-font-size: var(--text-sizes-14px);
  --docs-article-body-letter-spacing: var(--letter-spacing-xl);
  --docs-article-body-line-height: var(--line-heights-21px);
  --docs-article-body-list-spacing: var(--spacing-scale-8px);
  --docs-article-body-paragraph-spacing: var(--spacing-scale-6px);

  --docs-sidebar-headings-font-family: var(--font-families-alliance);
  --docs-sidebar-headings-font-size: 0.6875rem;
  --docs-sidebar-headings-letter-spacing: 0.03125rem;
  --docs-sidebar-headings-line-height: 1rem;

  --docs-sidebar-links-font-family: var(--font-families-alliance);
  --docs-sidebar-links-font-size: var(--text-sizes-12px);
  --docs-sidebar-links-letter-spacing: var(--letter-spacing-xl);
  --docs-sidebar-links-line-height: var(--line-heights-14px);

  --text-10xl-canela-font-family: var(--font-families-canela);
  --text-10xl-canela-font-size: var(--text-sizes-48px);
  --text-10xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-10xl-canela-line-height: var(--line-heights-58px);

  --text-11xl-canela-font-family: var(--font-families-canela);
  --text-11xl-canela-font-size: var(--text-sizes-72px);
  --text-11xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-11xl-canela-line-height: var(--line-heights-80px);

  --text-2xl-font-family: var(--font-families-alliance);
  --text-2xl-font-size: var(--text-sizes-18px);
  --text-2xl-letter-spacing: var(--letter-spacing-xl);
  --text-2xl-line-height: var(--line-heights-26px);

  --text-3xl-font-family: var(--font-families-alliance);
  --text-3xl-font-size: var(--text-sizes-20px);
  --text-3xl-letter-spacing: var(--letter-spacing-xl);
  --text-3xl-line-height: var(--line-heights-28px);

  --text-4xl-font-family: var(--font-families-alliance);
  --text-4xl-font-size: var(--text-sizes-36px);
  --text-4xl-letter-spacing: var(--letter-spacing-l);
  --text-4xl-line-height: var(--line-heights-44px);

  --text-5xl-font-family: var(--font-families-alliance);
  --text-5xl-font-size: var(--text-sizes-48px);
  --text-5xl-letter-spacing: var(--letter-spacing-m);
  --text-5xl-line-height: var(--line-heights-58px);

  --text-6xl-font-family: var(--font-families-alliance);
  --text-6xl-font-size: var(--text-sizes-60px);
  --text-6xl-letter-spacing: var(--letter-spacing-m);
  --text-6xl-line-height: var(--line-heights-68px);

  --text-7xl-canela-font-family: var(--font-families-canela);
  --text-7xl-canela-font-size: var(--text-sizes-24px);
  --text-7xl-canela-letter-spacing: var(--letter-spacing-s);
  --text-7xl-canela-line-height: var(--line-heights-28px);

  --text-8xl-canela-font-family: var(--font-families-canela);
  --text-8xl-canela-font-size: var(--text-sizes-36px);
  --text-8xl-canela-letter-spacing: var(--letter-spacing-xs);
  --text-8xl-canela-line-height: var(--line-heights-44px);

  --text-9xl-canela-font-family: var(--font-families-canela);
  --text-9xl-canela-font-size: var(--text-sizes-48px);
  --text-9xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-9xl-canela-line-height: var(--line-heights-58px);

  --text-article-body-font-family: var(--font-families-alliance);
  --text-article-body-font-size: var(--text-sizes-14px);
  --text-article-body-letter-spacing: var(--letter-spacing-xl);
  --text-article-body-line-height: var(--line-heights-21px);
  --text-article-body-list-spacing: var(--spacing-scale-8px);
  --text-article-body-paragraph-spacing: var(--spacing-scale-6px);

  --text-base-font-family: var(--font-families-alliance);
  --text-base-font-size: var(--text-sizes-14px);
  --text-base-letter-spacing: var(--letter-spacing-xl);
  --text-base-line-height: var(--line-heights-21px);
  --text-base-list-spacing: var(--spacing-scale-8px);
  --text-base-paragraph-spacing: var(--spacing-scale-6px);

  --text-lg-font-family: var(--font-families-alliance);
  --text-lg-font-size: var(--text-sizes-14px);
  --text-lg-letter-spacing: var(--letter-spacing-xl);
  --text-lg-line-height: var(--line-heights-21px);
  --text-lg-list-spacing: var(--spacing-scale-8px);
  --text-lg-paragraph-spacing: var(--spacing-scale-6px);

  --text-sm-font-family: var(--font-families-alliance);
  --text-sm-font-size: var(--text-sizes-10px);
  --text-sm-letter-spacing: var(--letter-spacing-xl);
  --text-sm-line-height: var(--line-heights-14px);

  --text-smallcaps-font-family: var(--font-families-alliance);
  --text-smallcaps-font-size: var(--text-sizes-12px);
  --text-smallcaps-letter-spacing: var(--letter-spacing-smallcaps);
  --text-smallcaps-line-height: var(--line-heights-18px);

  --text-xl-font-family: var(--font-families-alliance);
  --text-xl-font-size: var(--text-sizes-16px);
  --text-xl-letter-spacing: var(--letter-spacing-xl);
  --text-xl-line-height: var(--line-heights-24px);

  --text-xs-font-family: var(--font-families-alliance);
  --text-xs-font-size: var(--text-sizes-10px);
  --text-xs-letter-spacing: var(--letter-spacing-xl);
  --text-xs-line-height: var(--line-heights-14px);
}

/* Mode Override */
.sm---360px {
  /* Collection: Breakpoints */
  --breakpoint-full: 22.5rem;
  --breakpoint-internal: 21rem;

  /* Collection: Typography */
  --app-body-font-family: var(--font-families-alliance);
  --app-body-font-size: var(--text-sizes-13px);
  --app-body-letter-spacing: var(--letter-spacing-xl);
  --app-body-line-height: var(--line-heights-18px);
  --app-body-list-spacing: var(--spacing-scale-6px);
  --app-body-paragraph-spacing: var(--spacing-scale-4px);

  --docs-article-body-font-family: var(--font-families-alliance);
  --docs-article-body-font-size: var(--text-sizes-14px);
  --docs-article-body-letter-spacing: var(--letter-spacing-xl);
  --docs-article-body-line-height: var(--line-heights-21px);
  --docs-article-body-list-spacing: var(--spacing-scale-6px);
  --docs-article-body-paragraph-spacing: var(--spacing-scale-4px);

  --docs-sidebar-headings-font-family: var(--font-families-alliance);
  --docs-sidebar-headings-font-size: 0.6875rem;
  --docs-sidebar-headings-letter-spacing: 0.03125rem;
  --docs-sidebar-headings-line-height: 1rem;

  --docs-sidebar-links-font-family: var(--font-families-alliance);
  --docs-sidebar-links-font-size: var(--text-sizes-12px);
  --docs-sidebar-links-letter-spacing: var(--letter-spacing-xl);
  --docs-sidebar-links-line-height: var(--line-heights-14px);

  --text-10xl-canela-font-family: var(--font-families-canela);
  --text-10xl-canela-font-size: var(--text-sizes-36px);
  --text-10xl-canela-letter-spacing: var(--letter-spacing-xs);
  --text-10xl-canela-line-height: var(--line-heights-42px);

  --text-11xl-canela-font-family: var(--font-families-canela);
  --text-11xl-canela-font-size: var(--text-sizes-72px);
  --text-11xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-11xl-canela-line-height: var(--line-heights-80px);

  --text-2xl-font-family: var(--font-families-alliance);
  --text-2xl-font-size: var(--text-sizes-16px);
  --text-2xl-letter-spacing: var(--letter-spacing-xl);
  --text-2xl-line-height: var(--line-heights-21px);

  --text-3xl-font-family: var(--font-families-alliance);
  --text-3xl-font-size: var(--text-sizes-18px);
  --text-3xl-letter-spacing: var(--letter-spacing-xl);
  --text-3xl-line-height: var(--line-heights-26px);

  --text-4xl-font-family: var(--font-families-alliance);
  --text-4xl-font-size: var(--text-sizes-36px);
  --text-4xl-letter-spacing: var(--letter-spacing-l);
  --text-4xl-line-height: var(--line-heights-44px);

  --text-5xl-font-family: var(--font-families-alliance);
  --text-5xl-font-size: var(--text-sizes-48px);
  --text-5xl-letter-spacing: var(--letter-spacing-m);
  --text-5xl-line-height: var(--line-heights-58px);

  --text-6xl-font-family: var(--font-families-alliance);
  --text-6xl-font-size: var(--text-sizes-60px);
  --text-6xl-letter-spacing: var(--letter-spacing-m);
  --text-6xl-line-height: var(--line-heights-68px);

  --text-7xl-canela-font-family: var(--font-families-canela);
  --text-7xl-canela-font-size: var(--text-sizes-24px);
  --text-7xl-canela-letter-spacing: var(--letter-spacing-s);
  --text-7xl-canela-line-height: 1.875rem;

  --text-8xl-canela-font-family: var(--font-families-canela);
  --text-8xl-canela-font-size: var(--text-sizes-30px);
  --text-8xl-canela-letter-spacing: var(--letter-spacing-s);
  --text-8xl-canela-line-height: var(--line-heights-34px);

  --text-9xl-canela-font-family: var(--font-families-canela);
  --text-9xl-canela-font-size: var(--text-sizes-48px);
  --text-9xl-canela-letter-spacing: var(--letter-spacing-xxs);
  --text-9xl-canela-line-height: var(--line-heights-58px);

  --text-article-body-font-family: var(--font-families-alliance);
  --text-article-body-font-size: var(--text-sizes-14px);
  --text-article-body-letter-spacing: var(--letter-spacing-xl);
  --text-article-body-line-height: var(--line-heights-21px);
  --text-article-body-list-spacing: var(--spacing-scale-8px);
  --text-article-body-paragraph-spacing: var(--spacing-scale-8px);

  --text-base-font-family: var(--font-families-alliance);
  --text-base-font-size: var(--text-sizes-14px);
  --text-base-letter-spacing: var(--letter-spacing-xl);
  --text-base-line-height: var(--line-heights-21px);
  --text-base-list-spacing: var(--spacing-scale-6px);
  --text-base-paragraph-spacing: var(--spacing-scale-4px);

  --text-lg-font-family: var(--font-families-alliance);
  --text-lg-font-size: var(--text-sizes-14px);
  --text-lg-letter-spacing: var(--letter-spacing-xl);
  --text-lg-line-height: var(--line-heights-21px);
  --text-lg-list-spacing: var(--spacing-scale-6px);
  --text-lg-paragraph-spacing: var(--spacing-scale-4px);

  --text-sm-font-family: var(--font-families-alliance);
  --text-sm-font-size: var(--text-sizes-10px);
  --text-sm-letter-spacing: var(--letter-spacing-xl);
  --text-sm-line-height: var(--line-heights-14px);

  --text-smallcaps-font-family: var(--font-families-alliance);
  --text-smallcaps-font-size: var(--text-sizes-12px);
  --text-smallcaps-letter-spacing: var(--letter-spacing-smallcaps);
  --text-smallcaps-line-height: var(--line-heights-18px);

  --text-xl-font-family: var(--font-families-alliance);
  --text-xl-font-size: var(--text-sizes-14px);
  --text-xl-letter-spacing: var(--letter-spacing-xl);
  --text-xl-line-height: 1.125rem;

  --text-xs-font-family: var(--font-families-alliance);
  --text-xs-font-size: var(--text-sizes-10px);
  --text-xs-letter-spacing: var(--letter-spacing-xl);
  --text-xs-line-height: var(--line-heights-14px);
}

/* Mode Override */
.medium {
  /* Collection: Font Weights */
  --weight: Medium;
}

/* Mode Override */
.semi-bold {
  /* Collection: Font Weights */
  --weight: SemiBold;
}
